<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sort</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="css/FindIP.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>

<!--    Find All  -->

<div class="Find_All" id="FindAll">
    <div class="container">
        <form method="get" id="Find_All">
            <div class="form-group">
                <h2 class="form-signin-heading">Show All</h2>
                <p>
                    <input type="submit" name="Button1" value="Search" id="allButton" class="btn btn-primary btn-lg">
            </div>
        </form>
    </div>
</div>

<!--    Find By IP  -->

<div class="Sort" id="hide">
    <div class="container">
        <form method="get" action="" id="sourceIP" role="form" class="form-signin">
            <div class="form-group">
                <h2 class="form-signin-heading">Enter Source IP Here</h2>
                <p>
                <div align="center">
                    <input type="text" id="ip" name="sourceIP" class="form-control" placeholder="IP Address" required
                           autofocus>
                </div>
            </div>
            <div align="center">
                <input type="submit" name="Button1" value="Search" id="Button1" class="btn btn-primary btn-lg"/>
            </div>
        </form>
    </div>

<!--    Find By Start Date -->

    <div class="startDate" id="">
        <div class="container">
            <form method="post" id="startdate" type="">
                <div class="form-group">
                    <h2 class="form-signin-heading">Enter Date</h2>
                    <p>
                        <input type="text" id="date" name="startDateIpAllocation" class="form-control"
                               placeholder="Start Date" required autofocus>
                        <input type="text" id="enddate" name="endDateIpAllocation" class="form-control"
                               placeholder="End Date" required autofocus>
                    <div align="center">
                        <input type="submit" name="Button1" value="Search" id="ButtonByDate"
                               class="btn btn-primary btn-lg">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="loading">
        <h1 align="center"> Fetching Results Please Wait ...</h1>
        <br>
        <img align="center" src="img/loader.gif">
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/Sort.js"></script>
</body>
</html>
